.team {
    .team-members {
        .trip-user {
            display: inline-block;
            width: 24%;
            text-align: center;

            img {
                border: 2px solid #fff;
                height: 75px;
            }
        }
    }
}

#description {
    .intro::first-letter {
        font-size: 20px;
        font-weight: 400;
    }
}
