<div class="top-most custom-shadow" style="margin:0; padding:0;">
  <nav class="navbar navbar-expand-lg navbar-light green-bg">
    <a class="navbar-brand" routerLink="/index">
      <div class="header-name lobster">
        <span class="hide-on-collapse">Jalpaiguri</span>
        <img id="logo" class="rounded-circle" src="../assets/images/Other-Images/logo/new logo.jpg">
        <span class="hide-on-collapse">Birds</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-center">
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" routerLink="/index">Home</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" href="../Checklist - Jalpaiguri & Teesta Riverbed.html">Checklist</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" href="../Gallery.html">Gallery</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" href="../Trip-Reports.html">Trip-Reports</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" href="../Hot-Spot.html">Birding Spots</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" href="../Generalinfo.html">General-Info</a>
        </li>
        <li class="nav-item highlight3a lobster">
          <a class="nav-link" routerLink="/team">Team</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 search-nav" autocomplete="off" action="http://www.google.com/cse" id="cse-search-box"
        target="_blank" role="search">
        <input class="form-control mr-sm-2 search-box" type="search" placeholder="Search Jalpaiguri Birds" aria-label="Search">
        <input type="hidden" name="cx" value="011962969795728809989:p8xun0sqwp0">
        <input type="hidden" name="ie" value="UTF-8">
        <input name="siteurl" type="hidden" value="www.jalpaiguribirds.org">
        <input name="ref" type="hidden" value="">
        <input name="ss" type="hidden" value="">
        <input type="submit" name="sa" class="search-submit" value="Search">
        <!-- <button class="btn btn-light my-2 my-sm-0" type="submit">icon</button> -->
      </form>
    </div>
  </nav>
</div>

<div id="content" class="container">
  <router-outlet> </router-outlet>
</div>

<div id="footer" class="row custom-shadow-rev">
  <div id="site-map" class="col-md-3 col-sm-6 col-xs-12 footer-blocks">
    <p class="header-texts-small lobster">Site-Map</p>
    <div id="site-menu">
      <ul>
        <li class="highlight2">
          <a routerLink="/index">Home</a>
        </li>
        <li class="highlight2">
          <a href="../Checklist - Jalpaiguri & Teesta Riverbed.html">Checklist</a>
        </li>
        <li class="highlight2">
          <a href="../Gallery.html">Gallery</a>
        </li>
        <li class="highlight2">
          <a href="../Trip-Reports.html">Trip-Reports</a>
        </li>
        <li class="highlight2">
          <a href="../Hot-Spot.html">Birding Spots</a>
        </li>
        <li class="highlight2">
          <a href="../Generalinfo.html">General-Info</a>
        </li>
        <li class="highlight2">
          <a routerLink="/team">Team</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="latest-news" class="col-md-2 col-sm-6 col-xs-12 footer-blocks">
    <p class="header-texts-small lobster">Highlights</p>
    <div id="news-list">
      <ul>
        <li class="highlight2">
          <a style="color:#000" href="#">
            <mark>Latest news about sighting</mark>
          </a>
        </li>
        <li class="highlight2">
          <a style="color:#000" href="#">
            <mark>Meeting / meet / workshop </mark>
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <p class="header-texts-small lobster">Rarity Read</p>
    <a target="_blank" style="underline:none;" href="Rarity Read.html">
      <p style="color:#000;text-decoration:none;" class="day highlight2">Hooded Pitta [
        <span class="highlight3" style="text-decoration:underline;">Pitta sordida</span> ]</p>
      <img id="" class="centuro rounded-circle  custom-shadow" style="border:3px solid #fff;" src="../assets/images/Other-Images/Rarity Read/Pitta_net-transparent.png">
    </a>
  </div>

  <div id="literature" class="col-md-4 col-sm-6 col-xs-12 footer-blocks centuro ">
    <p class="header-texts-small lobster ">Literatures & Publications</p>
    <div id="articleSlider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let slider of articleSlider; let myIndex = index" data-target="#articleSlider" [attr.data-slide-to]="myIndex"
          [ngClass]="{'active': myIndex == 0 }"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let items of articleSlider; let myIndex = index" [ngClass]="{'active': myIndex == 0 }">
          <a target="_blank" style="underline:none;" href="{{items.link}}">
            <p style="color:#000;text-decoration:none; text-align: center;" class="day highlight2">Read Article <span class="oi oi-document"></span></p>
            <div class="carousel-image-caption">
              <img class="img-thumbnail custom-shadow" style="margin-bottom:5px;" src={{items.src}}>
              <div class="carousel-caption">
                <h5>{{items.caption}}</h5>
                <p>{{items.users}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="col-md-3 col-sm-6 col-xs-12 footer-blocks">
    <p class="header-texts-small lobster">We Like To hear from you</p>
    <div id="di">
      <p class="header-texts-small"> Mousumi Dutta</p>
      <span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;&nbsp;
      <span class="highlight3"> +91 9474590987</span>
      <br>
      <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;
      <a style="color:#000" class="highlight3" data-toggle="" data-placement="auto top" title="we are just one click away !!"
        target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=duttamousumi@gmail.com&cc=bishwapriya@gmail.com&su=RE:JALPAIGURI BIRDS:<-- please write your concern -->&body=Hi Mousumi , %0A%0A%0A%0A%0A%0AThanks,%0A%0AYour Name - %0AContact - ">
        duttamousumi@gmail.com</a>
      <br>
    </div>
    <br>
    <div id="da">
      <p class="header-texts-small">Biswapriya Rahut</p>
      <span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;&nbsp;
      <span class="highlight3"> +91 9434010497</span>
      <br>
      <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;
      <a style="color:#000" class="highlight3" data-toggle="" data-placement="auto top" title="we are just one click away !!"
        target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=bishwapriya@gmail.com&cc=duttamousumi@gmail.com&su=RE:JALPAIGURI BIRDS:<-- please write your concern -->&body=Hi Biswapriya , %0A%0A%0A%0A%0A%0AThanks,%0A%0AYour Name - %0AContact - ">bishwapriya@gmail.com</a>
      <br>
    </div>
    <br>
    <br>
    <p class="header-texts-small lobster">Sharing is Caring</p>
    <div class="fb-share-button" data-href="http://www.jalpaiguribirds.com/" data-layout="link"></div>
  </div>

</div>

<div id="copyright" class="row green-bg">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="highlight4 centuro"> &copy;
      <span style="color:#fdfdfd;"> Mousumi Dutta </span> and
      <span style="color:#fdfdfd;">Biswapriya Rahut</span> 2003-2015 &nbsp; | &nbsp; All rights reserved &nbsp; |
      &nbsp; Created by
      <a style="color:#fdfdfd;" href="#"> Mousumi Dutta </a> and designed by
      <a style="color:#fdfdfd;" href="https://www.facebook.com/somesubhra.patra?ref=tn_tnmn">Some Subhra Patra</a>.</p>
  </div>
</div>