.container {
    margin: 30px auto;
}

.hide-on-collapse {
    display: inline-block;
}

.navbar-light .navbar-toggler {
    background-color: rgb(221, 221, 221) !important;
}

.search-nav {
    .search-box, .btn {
        padding: 2px 5px;
        height: 30px;
        font-family: 'Raleway', sans-serif !important;
        text-transform: capitalize;
        font-size: 12px;
        text-align: left;
    }

    .search-box {
        height: 35px;
        min-width: 200px;
        max-width: 100%;
        margin-left: 10px;
        border-radius: 2px;
        font-weight: normal;
    }

    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ccc;
    }

    input::-moz-placeholder { /* Firefox 19+ */
        color: #ccc;
    }

    input::-ms-input-placeholder { /* IE 10+ */
        color: #ccc;
    }

    input::-moz-placeholder { /* Firefox 18- */
        color: #ccc;
    }
}

#articleSlider.carousel {
    width: 200px;
    margin: auto;

    .carousel-indicators {
        bottom: -35px;

        // width: max-content;
        // left: -50%;
        li {
            background-color: rgba(55, 81, 31, 0.4);
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

        li.active {
            background-color: rgb(55, 81, 31);
        }
    }

    .carousel-image-caption {
        position: relative;

        .img-thumbnail {
            border: 1px solid #caccc6;
        }
    }

    .carousel-caption {
        background-color: #0000007a;
        height: 256px;
        width: 189px;
        position: absolute;
        top: 6px;
        left: 6px;
        padding: 40px 10px 10px;
        margin: 0px;
        h5 {
            font-family: 'Raleway', sans-serif !important;
        }
    }
}

.fb-like {
    margin-top: 5px;
}

@media (max-width: 576px) {
    #articleSlider.carousel {
        float: left;
    }

    .hide-on-collapse {
        display: none;
    }

    .navbar-collapse .navbar-nav {
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        margin-bottom: 10px;
    }

    .search-nav .search-box {
        margin-left: 0;
    }
}
