<div id="welcome-sighting" class="row">

    <div id="sighting" class="col-md-12">
        <p class="header-texts text-center"> Latest Sightings </p>
        <div id="sightingSlider" class="carousel sightingSlider slide bigScreen" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slider of sightingSlider; let myIndex = index" data-target="#sightingSlider"
                    [attr.data-slide-to]="myIndex" [ngClass]="{'active': myIndex == 0 }"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let slider of sightingSlider; let myIndex = index" [ngClass]="{'active': myIndex == 0 }">
                    <div class="carousel-items col-md-4" *ngFor="let items of slider.carouselItems">
                        <img class="d-block custom-shadow" src={{items.src}} alt="carousel slide">
                        <div class="carousel-captions col-md-12">{{items.caption}}</div>
                        <div class="carousel-user">{{items.user}}</div>
                        <div class="carousel-location">{{items.location}}</div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#sightingSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#sightingSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div id="smallScreenSightingSlider" class="carousel sightingSlider slide smallScreen" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slider of smallScreenSightingSlider; let myIndex = index" data-target="#smallScreenSightingSlider"
                    [attr.data-slide-to]="myIndex" [ngClass]="{'active': myIndex == 0 }"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let items of smallScreenSightingSlider; let myIndex = index"
                    [ngClass]="{'active': myIndex == 0 }">
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src={{items.src}} alt="carousel slide">
                        <div class="carousel-captions col-md-12">{{items.caption}}</div>
                        <div class="carousel-user">{{items.user}}</div>
                        <div class="carousel-location">{{items.location}}</div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#smallScreenSightingSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#smallScreenSightingSlider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="welcome" class="col-md-12">
        <div id="welcome-text">
            <p class="header-texts text-center"> Welcome to Jalpaiguri Birds </p>
        </div>
        <p class="text-center">
            <span class="header-texts ">&ldquo; </span>
            <span class="highlight1">They say all good things have a humble beginning. Then honest effort, passion for
                the task at hand and the good
                wishes take over.</span>
            <span class="header-texts">&rdquo;</span>
            <br>
        </p>
        <p>
            The story of our beloved initiative
            <span class="highlight2"> Jalpaiguri Birds </span> too follows that pattern. This was initially conceived
            and created as an information
            database of Birds that occur within an approximate radius of 10 km in and around the quaint and charming
            town
            that we call home -
            <span class="highlight2"> Jalpaiguri </span>. But as our passion took
            <span class="highlight2">&ldquo;wings&rdquo;</span> and flew into a larger oeuvre, our canvas increased in
            a natural progression with
            the addition of a few kilometres to our bird map. The presence of some rare species within this increased
            sphere
            have been the main reason for this addition which have been authentically recorded by eminent Birdwatchers
            and
            Bird photographers from time to time.
            <span class="highlight2">Jalpaiguri Birds </span> may have started as an initiative of only a couple of
            interested Birdwatchers, but as
            time elapsed, more and more people got actively involved and have contributed a lot towards the status
            where
            <span class="highlight2"> Jalpaiguri Birds</span> finds itself today. It is worth mentioning that this
            compilation is not literature based
            but an intransigent data listing of
            <span class="highlight2"> actual findings </span> and hard facts owing its development to a bunch of
            dedicated individuals
            <span class="highlight2">since 2003</span>. Authenticity of information is our mantra as we strive for the
            next elusive spot, the next
            quick flutter of wings amidst thick canopy, the instant excitement and adrenaline rush that lasts for days.
            <span class="highlight2"> 213 species of birds </span> have been recorded so far, and there is ample
            possibility of a few more to be added
            to this list. We all live in anticipation of that possibility. While we have our dedicated watchers, you
            will
            agree that such listings will always owe an enormous debt to all Birdwatchers and Bird photographers who
            have
            already added to our repertoire or those who will report the occurrence of
            <span class="highlight2"> any new species</span> within the given area of survey that has not been included
            in the current list. Such endeavours
            will be
            <span class="highlight2"> highly appreciated</span>.
        </p>
    </div>

    <div id="separator" class="col-md-12 text-center">
        <span class="highlight1">.............................................</span>
    </div>
</div>

<div id="tour-map" class="row">
    <div id="tour" class="col-md-6" data-position="right" data-intro="<strong><em>Information About Guided Tours & Trips :</em></strong> <br> <br>1. Click on the circular (Grey) buttons to navigate. <br> 2. Click on the pictures to go to the main event page ">
        <p class="header-texts text-center"> Birding Tours </p>
        <div id="tourSlider" class="carousel tourSlider slide row" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let slider of tourSlider; let myIndex = index" data-target="#tourSlider"
                    [attr.data-slide-to]="myIndex" [ngClass]="{'active': myIndex == 0 }"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let items of tourSlider; let myIndex = index" [ngClass]="{'active': myIndex == 0 }">
                    <div class="carousel-items col-md-12">
                        <div class="image-caption-wrapper">
                            <img class="d-block custom-shadow" src={{items.src}} alt="carousel slide">
                            <div class="carousel-captions">
                                <span class="birding-location">{{items.location}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="col-md-6" data-position="left" data-intro="<strong><em>Location Of JALPAIGURI Town :</em></strong> <br> <br>1. Scroll-Up &uarr;  to Zoom-In & Scroll-Down &darr;   to Zoon-Out .<br> 2. Click on Larger Map option to see the location in Google Maps">
        <p class="header-texts text-center"> Area Map </p>
        <div class="google-maps">
            <iframe class="custom-shadow" style="border:4px solid #fff" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1831744.708672954!2d88.75313763281248!3d26.273786590563002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e4795a4544dc7b%3A0xfd44f1fea54c9c40!2sJalpaiguri%2C+West+Bengal!5e0!3m2!1sen!2sin!4v1431537309464"></iframe>
        </div>
    </div>
</div>

<div id="trip-spot" class="row">
    <p class="header-texts text-center col-md-12">Latest Articles</p>

    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let items of latestArticles">
        <div class="trip-box">
            <p class="highlight1 text-center trip-header-text">{{items.location}}</p>
            <div class="row">
                <div id="image" class="col-md-12 col-sm-12">
                    <p class="text-center trip-image">
                        <img class="img-thumbnail" src={{items.src}} alt="article image">
                    </p>
                </div>
                <div class="read col-md-12 col-sm-12">
                    <p class="read">
                        <a target="_blank" href="{{items.link}}">
                            <span class="read-button uper">{{items.type == 'Birding Spot' ? 'Check' :
                                'Read'}}&nbsp;{{items.type}}&nbsp;
                                <span class="oi oi-share"></span>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>