<div id="welcome-sighting" class="row">

    <div id="sighting" class="col-md-12">
        <p class="header-texts centuro"> Latest Sightings </p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item row active">
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/Beautiful Nuthatch.jpg"
                            alt="First slide">
                        <div class="carousel-captions">Beautiful Nuthatch</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/cutia.jpg" alt="First slide">
                        <div class="carousel-captions">Himalayan Cutia</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/Pitta_net.jpg" alt="First slide">
                        <div class="carousel-captions">Hooded Pitta</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                </div>
                <div class="carousel-item row">
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/ruddy.JPG" alt="First slide">
                        <div class="carousel-captions">Ruddy Kingfisher</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/Sultan tit_sahay.jpg"
                            alt="First slide">
                        <div class="carousel-captions">Sultan Tit</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                    <div class="carousel-items col-md-4">
                        <img class="d-block custom-shadow" src="../../../assets/images/Other-Images/Home-Page Slider Images/yuhina.jpg" alt="First slide">
                        <div class="carousel-captions">Striped Yuhina</div>
                        <!-- <div class="carousel-user">Some Subhra Patra</div>
                    <div class="carousel-location">Chapramari Forest</div> -->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</div>